.App {
  text-align: center;
}
.container {
  text-align: center;
}
.highlight {
    color:aqua;
}
.button {
  background-color:blue;
  color:white;
  border-radius:10px;
  width:100px;
  height:30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




  .container{
  margin-top: 100px;
  margin-left: 100px;
  }
  .f-group{
  float: left;
  }
  .f-group label
  {
  display: block;
  }
  select {
  border: 1px solid black;
  height: 40px;
  width: 200px;
  padding: 0 15px;
  margin-right: 20px;
  }
  button{
  padding: 20px;
  }
  h1{
  text-align: center;
  }
  img{
    margin-left: 100px;
  }
  .whole{
    border: 2px solid black;
  }
